.team_profile {
  display: flex;
  align-items: center;
}

.team_detail_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.team_country {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width:767px) {
  .team_detail_header {
    flex-direction: column;
    align-items: center;
  }

  .team_profile {
    flex-direction: column;
  }
}
